* {
	box-sizing: border-box; 
}

.header-hero {
	height: 1080px;
	color: #ffffff;
	background-image: url(images/hero.png);
}

.container {

	width: 1500px;
	margin:auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	text-decoration: none;	
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #14274A;
	height: 149px;
    width: 256px;
    padding: 45px 0;
    border-radius:  0 0 50px 50px;


    background: #E0B973;
}

.navbar-items {
	display: flex;
	justify-content: space-between;
	width: 700px;
}

.navbar-link {
	text-decoration: none;
	color: inherit;
	font-size: 25px;
    line-height: 30px;
}

.navbar-item {
	list-style-type: none;
}

.logo-title {
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;

}

.logo-subtitle {
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
}

.homepage {
	text-decoration: underline;
}
 





